/*--
        reset
--*/ 
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:none;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;text-decoration:none;margin:0;padding:0;}
table{border-collapse:separate;border-spacing:0}
blockquote:before,blockquote:after,q:before,q:after{content:""}*{margin:0;padding:0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block; }								  
ol, ul { list-style: none;}
blockquote, q { quotes: none;}
:focus { outline: 0;}
table { border-collapse: collapse; border-spacing: 0;}
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
a{text-decoration:none; position:relative; color:#000;}
audio,video,canvas {max-width: 100%;}

.ss_padding_game_cancel{
    
      padding: 20px!important;
    
}

.social_footer_info{

    display: inline-block;
    text-align: center;
    color: #fff!important;
    font-size: 14px;
    font-weight: 600;

}

.social_footer_info i{

    display: inline-block;
    text-align: center;
    color: #fcb83c!important;
    padding-right: 15px;
    font-size: 24px;

}

.go-to-home{
    text-transform: initial!important;
}

.bg_thanks{

    background-image: url(../images/bg-thanks.jpg);
    background-size: cover;
    padding: 40px 50px!important;
    border-radius: 10px;

}

.hello_asiali{



}

.bos-shdow_ss{

    box-shadow: 0 1px 6px rgba(57,73,76,0.15);

}

.header_rapid >i{

    font-size: 24px;
    color: #fff;
    line-height: 38px;
}

.header_rapid{

    position: relative;
}

.header_rapid >span{

    position: absolute;
    top: -13px;
    right: -8px;
    background: red;
    color: #fff;
    height: 18px;
    width: 18px;
    display: inline-block;
    border-radius: 50px;
    font-size: 10px;
    font-weight: 600;
    line-height: 18px;
    text-align: center;
}


.hello_asiali:after{

    display: none!important;

}

.ss_table_footer{

    padding: 20px 0;
}


.ss_icon_view{

    height: 30px;
    width: 30px;
    border: 1px solid rgba(0,0,0,0.2);
    line-height: 30px;
    line-height: 30px!important;
    text-align: center;
    background: #3f51b5;
    color: #fff;
    border-radius: 500px;
    display: none;
    cursor: pointer;
}


.dropdown_ss >ul{

    margin: 10px 0 0 0;
    position: absolute;
    min-width: 150px;
    top: 60px;
    left: -50px;
    z-index: 1;
    padding: 10px 0;
    background: #fff;
    border-radius: 6px;
    border: 1px solid #eee;
    transition: all .2s ease-in-out;
    top: 100%;
    /*box-shadow: 0 1px 6px rgba(57,73,76,0.35);*/

}

.view_all{


    color: #3f51b5;
    font-weight: 600;
}

.notification_toggle >ul >li>a{

    border-bottom: 1px solid rgba(0,0,0,0.1);
    font-size: 14px;
}

.notification_toggle >ul >span{

    padding: 5px;
    display: inline-block;
}


.notification_toggle >ul{

    margin: 10px 0 0 0;
    opacity: 1!important;
    visibility: visible!important;
    position: absolute;
    min-width: 300px!important;
    top: 60px;
    left: -50px!important;
    z-index: 1;
    padding: 10px 0;
    background: #fff;
    border-radius: 6px;
    border: 1px solid #eee;
    transition: all .2s ease-in-out;
}



.dropdown_ss >ul >li >a{

    color: #50596E;
    float: left;
    width: 100%;
    font-weight: 600;
    text-align: left;
    padding: 6px 15px;
    font-size: 14px;
}


.dropdown_ss >ul >li >a:hover{

    color: #fcb83c;
    float: left;
    width: 100%;
    font-weight: 500;
    text-align: left;
    padding: 6px 15px;
    font-size: 14px;
}


.ss_toggle_ss{

    position: relative;

}

.notification_toggle{

    display: none;
}

.dashboard-listing-table-opt >li >a >i{

    padding-left: 5px;
}

/*26 date*/

.game_details {
    -webkit-box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.07);
    -moz-box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.07);
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.07);
    width: 100%;
    padding: 15px 20px;
    display: inline-block;
    margin-bottom: 20px;

}

.game_details >i{

    font-size: 18px;
    color: #3f51b5;
}

.game-name-details{

    display: inline-block;
    padding-left: 10px;
    font-size: 15px;
}

.game-name-details >strong{


    font-weight: 600;

}


.game-name-details >span{


    color: #777;
    padding-left: 8px;

}

.profile-edit-header {
    float: left;
    width: 100%;
    position: relative;
    padding-bottom: 0px!important;
}

.google_map >iframe{

    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
}

.google_map{

    overflow: hidden;
}

.padd_top_game{

    padding-top: 15px;
}

.reviews-comments-item-text .listing-rating {
    float: none!important;
}

.reviews-comments-item-text h4 {
    text-align: left;
    padding-bottom: 13px!important;

}

.review-comments-avatar {
    position: absolute;
    top: 0;
    left: 30px!important;
    width: 60px!important;
    height: 60px!important;
    overflow: hidden;
    border-radius: 100%;
}


.review-comments-avatar img {
    width: 60px!important;
    height: 60px!important;
    float: left;
}

.profile_ss{

    width: 70px;
    height: 70px;
    border-radius: 500px;
    overflow: hidden;
}

.ss_flot_right{

    float: left;
}

.ss_flot_right >h4{

    padding-left: 20px;
    font-size: 16px;
    font-weight: 600;
    padding-top: 10px;
}


.ss_flot_right >.listing-rating{

    padding-left: 20px;
    font-size: 18px;
    font-weight: 600;
}



.ss_flot_right >.listing-rating >i{
    padding-right: 10px;
    padding-top: 10px;
}

.member_team{

    padding: 20px 20px;
    border-bottom: 1px solid rgba(0,0,0,0.1)
}

.box_main_team{
    display: grid;
    border:1px solid rgba(0,0,0,0.1);
}

.dashboard-listing-table-opt  a {
    color: #fff;
    padding: 9px 22px;
    border-radius: 30px;
    background: #fcb83c;
    float: left;
    margin:0 10px;
}

.dashboard-listing-table-opt  a >i {
    padding-left: 5px;
}



.display-inline{

    display: inline-block;
}

.del-btn{

    background: red!important;
}

.button_ss_game >a{


    padding: 13px 35px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    -webkit-appearance: none;
    background:  #3f51b5;
    text-transform: capitalize;
    border-radius: 100px;
    font-weight: 600;
    margin-left: 15px;

}




@media(min-width:320px) and (max-width:480px) {


    .logo_css {
        font-size: 26px!important;
        color: #fff;
        font-weight: 800;

    }

    .main-yes-holder {
        max-width: 390px;
        margin: 100px auto 50px;
        position: relative;
        z-index: 5;
    }

    .game_details {
        -webkit-box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.07);
        -moz-box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.07);
        box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.07);
        width: 100%;
        padding: 15px 8px;
        display: inline-block;
        margin-bottom: 20px;
    }

    .dropdown_ss >ul {
        margin: 10px 0 0 0;
        position: absolute;
        min-width: 150px;
        top: 100%;
        left: -118px!important;

    }


    .game-name-details {
        display: inline-block;
        padding-left: 10px;
        font-size: 14px;
    }
    .notification_toggle >ul{

        left: -100px!important;

    }

    .member_team {
        padding: 20px 11px;
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }

    .ss_flot_right >h4 {
        padding-left: 20px;
        font-size: 15px;
        font-weight: 600;
        padding-top: 10px;
    }
    .profile_ss {
        width: 50px;
        height: 50px;
        border-radius: 500px;
        overflow: hidden;
        position: relative;
        top: 10px;
        left: 7px;
    }

    .ss_flot_right >.listing-rating {
        padding-left: 20px;
        font-size: 14px;
        font-weight: 600;
    }


}



Rating css /


.textareass >textarea{

    width: 100%;
    resize: none;
    height: 120px;
    border-radius: 10px;
    margin:20px 0;
    padding: 20px 20px!important;
}

.rating {

    height: 150px;
    padding: 0 5px;

}

.rating {
    display: flex;
    width: 100%;
    justify-content: center;
    overflow: hidden;
    flex-direction: row-reverse;
    height: 150px;
    padding: 0 60px;
    position: relative;
}

.rating-0 {
    filter: grayscale(100%);
}

.rating > input {
    display: none;
}

.rating > label {
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-top: auto;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 76%;
    transition: .3s;
}

.rating > input:checked ~ label,
.rating > input:checked label label {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}


.rating > input:not(:checked) ~ label:hover,
.rating > input:not(:checked) label:hover label {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.emoji-wrapper {
    width: 100%;
    text-align: center;
    height: 100px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.emoji-wrapper:before,
.emoji-wrapper:after{
    content: "";
    height: 15px;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
}

.emoji-wrapper:before {
    top: 0;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 35%,rgba(255,255,255,0) 100%);
}

.emoji-wrapper:after{
    bottom: 0;
    background: linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 35%,rgba(255,255,255,0) 100%);
}

.emoji {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .3s;
}

.emoji > svg {
    margin: 15px 0; 
    width: 70px;
    height: 70px;
    flex-shrink: 0;
}

#rating-1:checked ~ .emoji-wrapper > .emoji { transform: translateY(-100px); }
#rating-2:checked ~ .emoji-wrapper > .emoji { transform: translateY(-200px); }
#rating-3:checked ~ .emoji-wrapper > .emoji { transform: translateY(-300px); }
#rating-4:checked ~ .emoji-wrapper > .emoji { transform: translateY(-400px); }
#rating-5:checked ~ .emoji-wrapper > .emoji { transform: translateY(-500px); }

.padding_top{

    padding-top: 20px;
}
.feedback {
    background-color: #fff;
    width: 100%;
    position: relative;
    top: -25px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 15px;
    padding-top: 15px;

    border-radius: 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    /*box-shadow: 0 4px 30px rgba(0,0,0,.05);*/
}


@media(min-width:320px) and (max-width:480px) {

    .forgot_password {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 20px;
        padding-left: 20px;
        text-align: center!important;
    }
    .rating {

        height: 150px;
        padding: 0 5px;

    }
    .textareass >textarea {
        width: 100%;
        resize: none;
        height: 100px;

    }
    .main-reviews-holder {
        max-width: 278px!important;
        margin: 50px auto 50px;
        position: relative;
        z-index: 5;
    }

}

.main-reviews-gamerating{

    display: inline-grid;
    padding-top: 30px;
}

.filter-tags a:hover{
    
    color:#3f51b5!important;
    
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0px auto -webkit-focus-ring-color!important;
    outline-offset: -2px;
}

.close_button_model{
    
        position: absolute;
        right: 30px;
        top:15px;
        height: 35px;
        width: 35px;
        border-radius: 500px;
        background: #3f51b5;
        line-height: 35px;
        text-align: center;
        
    
}

.close_button_model i{
    
      color:#fff!important;
        
    
}

.btn.big-btn{
    
        border-radius: 500px!important;
            padding: 11px 40px!important;
    
}